@import '@picocss/pico/css/pico.min.css';

::selection {
  background: lightblue !important;
}

html {
  height: 100%;
}

.bg {
  background: #9163be;
  background-image: url(/bg.png);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #000 !important;
  --primary-hover: rgba(0, 0, 0, 0.8) !important;
  --primary-focus: #rgba(0, 0, 0, 0.2) !important;
  --primary-inverse: #fff;
}

.text-center {
  text-align: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-small {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.btn-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 5rem;
}

.red {
  color: red;
}

.constrain {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .constrain {
    width: 100%;
  }
}
