@import '@picocss/pico/css/pico.min.css';

::selection {
  background: lightblue !important;
}

html,
body {
  height: 100%;
}

.bg {
  background: linear-gradient(#c471f5, #fa71cd);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100%;
  background-repeat: repeat;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #46215c !important;
  --primary-hover: #46215ccb !important;
  --primary-focus: #46215c23 !important;
  --primary-inverse: #fff !important;
}

.text-center {
  text-align: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-small {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.btn-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 5rem;
}

.red {
  color: red;
}

.constrain {
  width: 40%;
}

.blur {
  color: transparent;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.blur:hover, .blur:active, .blur:focus {
  color: #000;
  text-shadow: none;
}

@media only screen and (min-width: 320px) and (max-width: 850px) {
  .constrain {
    width: 100%;
  }

  .btn-large {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1100px) {
  .constrain {
    width: 70%;
  }
}
